<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container-form">
        <form id="form-work" method="POST" action="/login">
            <h3>Welcom Back!</h3>

            {%if error %}
                <p style="color: red; font-weight: bold; display: block;">{{ error }}</p>
            {%endif%}
                <div class="input-group">
                <input type="text" id="username" name="username">
                <label for="username">Email/Phone:</label>
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password">
                <label for="password">Password:</label>
                <div class="resetpassword" method='POST'>
                    <a href="/forgot_password">Forgot Password?</a>
                </div>
            </div>

            <button type="submit" class="Button" value="Submit">Login</button>
            <p class="signin-text">Login as kitchen staff ? <a href="/staff_login">login</a></p>
            <br>
        </form>
    </div>
</body>
</html>